@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
