---
import Badge from '@/components/Badge.astro';
import Layout from '@/layouts/Layout.astro';
import Experience from '@/components/Experience.astro';
import Projects from '@/components/Projects.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import SocialPill from '@/components/SocialPill.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import GitHubIcon from '@/components/icons/GitHub.astro';
import MailIcon from '@/components/icons/Mail.astro';
import Briefcase from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
---

<Layout title="Luis Almenarez - Home">
  <main class="px-6">
    <SectionContainer class="py-44 pb-20">
      <img
        src="https://avatars.githubusercontent.com/u/125621759?v=4"
        alt="photo luis almenarez"
        class="size-12 mb-4 rounded-full"
      />

      <h1
        class="gap-x-4 sm:text-4xl flex flex-row pb-4 text-2xl font-bold text-white"
      >
        춰Hola! Soy Luis Almenarez
        <a
          href="https://linkedin.com/in/luisalmenarez"
          target="_blank"
          rel="noreferrer"
          class="flex items-center justify-center"
        >
          <Badge>Frontend Developer</Badge>
        </a>
      </h1>
      <h2 class="opacity-80 text-wrap md:text-2xl text-lg max-w-[700px]">
        +3 a침os de experiencia en dise침o y desarrollo de aplicaciones web.
        Especializado en la integraci칩n de sistemas existentes, la optimizaci칩n
        de flujos de trabajo, y la entrega de soluciones a medida. De Medell칤n
        Colombia 游뻟릖
      </h2>

      <nav class="flex flex-wrap gap-2 mt-4">
        <SocialPill href="https://linkedin.com/in/luisalmenarez">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/luisalmenarez">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>

        <SocialPill href="mailto:luisalmenarez0428@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          luisalmenarez0428@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer
      id="experiencia"
      class="w-full lg:w-[740px] mx-auto pb-20"
    >
      <h2 class="font-semi-bold gap-x-2 flex items-center mb-6 text-2xl">
        <Briefcase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="w-full lg:w-[740px] mx-auto pb-20">
      <h2 class="font-semi-bold gap-x-2 flex items-center mb-6 text-2xl">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
