<section class="flex gap-x-8">
  <div
    class="flex flex-col [&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong] text-pretty"
  >
    <p>
      Mi nombres es Luis Carlos aunque casi todo el mundo me dice Lucho. <strong
      >
        Llevo más de 3 años creando experiencias digitales
      </strong> que combinan funcionalidad y diseño.
    </p>

    <p>
      Algunos de mis logros incluyen <strong
        >reducir en un 30% el tiempo de desarrollo mediante componentes
        reutilizables en Storybook y automatizar el 50% de procesos manuales en
        una empresa líder del sector logístico</strong
      >, permitiéndoles enfocarse en lo que realmente importa.
    </p>

    <p>
      Actualmente, trabajo como <em class="text-blue-300 italic">
        desarrollador frontend
      </em> mientras me expando hacia la automatización de procesos con <em
        class="text-blue-300 italic"
      >
        Automation Anywhere.</em
      > Mi objetivo es construir soluciones que no solo cumplan requisitos técnicos,
      sino que transformen la forma en que interactuamos con la tecnología.
    </p>
  </div>
  <img
    src="https://avatars.githubusercontent.com/u/125621759?v=4"
    alt="photo luis almenarez"
    class="size-36 rounded-full"
  />
</section>
