<section class="flex gap-x-8 md:flex-row flex-col-reverse">
  <div
    class="flex flex-col [&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong] text-pretty"
  >
    <p>
      Mi nombre es Luis Carlos, aunque todos me dicen Lucho. <strong>
        Llevo m치s de 3 a침os construyendo aplicaciones web
      </strong> que resuelven problemas reales y se sienten bien al usarlas.
    </p>

    <p>
      He trabajado en proyectos donde <strong>
        los equipos reduc칤an semanas de trabajo a d칤as con las herramientas
        correctas, y donde procesos manuales simplemente dejaban de existir
      </strong>. Eso es lo que me motiva: ver el impacto directo de lo que se
      construye.
    </p>

    <p>
      Trabajo remoto desde Medell칤n 游뻟릖, como <em class="text-blue-300 italic">
        Full Stack Developer en PrevalentWare</em
      >, principalmente con React, Next.js y TypeScript. Fuera del c칩digo, me
      encontrar치s entrenando en el gym, jugando Fortnite, o meti칠ndole mano a la
      automatizaci칩n con
      <em class="text-blue-300 italic">Automation Anywhere.</em>
    </p>
  </div>
  <img
    src="https://avatars.githubusercontent.com/u/125621759?v=4"
    alt="photo luis almenarez"
    class="size-36 rounded-full mb-8 md:mb-0"
  />
</section>
