---
import { useTranslations } from '@/i18n';
import type { Locale } from '@/i18n';

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section class="flex gap-x-8 md:flex-row flex-col-reverse">
  <div
    class="flex flex-col [&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong] text-pretty"
  >
    <p set:html={t('about.p1')} />
    <p set:html={t('about.p2')} />
    <p set:html={t('about.p3')} />
  </div>
  <img
    src="https://avatars.githubusercontent.com/u/125621759?v=4"
    alt="photo luis almenarez"
    class="size-36 rounded-full mb-8 md:mb-0"
  />
</section>
