---
import SectionContainer from '@/components/SectionContainer.astro';
import Badge from '@/components/Badge.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import GitHubIcon from '@/components/icons/GitHub.astro';
import MailIcon from '@/components/icons/Mail.astro';
import SocialPill from '@/components/SocialPill.astro';
import WhatsAppIcon from './icons/WhatsAppIcon.astro';
import { useTranslations } from '@/i18n';
import type { Locale } from '@/i18n';

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<SectionContainer class="pb-20 xl:pb-4">
  <img
    src="https://avatars.githubusercontent.com/u/125621759?v=4&s=256"
    alt="photo luis almenarez"
    class="size-32 mb-4 rounded-xl"
    width="128"
    height="128"
    loading="eager"
  />

  <h1
    class="gap-2 text-pretty sm:text-4xl flex flex-col items-start pb-4 text-xl font-bold text-gray-900 dark:text-gray-100"
  >
    Luis Almenarez
    <a
      href="https://linkedin.com/in/luisalmenarez"
      target="_blank"
      rel="noreferrer"
      class="flex items-center justify-center"
    >
      <Badge>
        {t('aside.badge')}
        <span slot="hover-text">{t('aside.badge')}</span>
      </Badge>
    </a>
  </h1>
  <h2 class="opacity-80 text-wrap text-base">
    {t('aside.description')}
  </h2>
  <nav class="flex flex-wrap gap-1 mt-4">
    <SocialPill href="https://linkedin.com/in/luisalmenarez">
      <LinkedInIcon class="size-4 md:size-6" />
    </SocialPill>

    <SocialPill href="https://github.com/luisalmenarez">
      <GitHubIcon class="size-4 md:size-6" />
    </SocialPill>

    <SocialPill href="mailto:luisalmenarez0428@gmail.com">
      <MailIcon class="size-4 md:size-6" />
    </SocialPill>

    <SocialPill href="https://api.whatsapp.com/send?phone=573013897707">
      <WhatsAppIcon class="size-4 md:size-6" />
    </SocialPill>
  </nav>
</SectionContainer>
