---
import SectionContainer from '@/components/SectionContainer.astro';
import Badge from '@/components/Badge.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import GitHubIcon from '@/components/icons/GitHub.astro';
import MailIcon from '@/components/icons/Mail.astro';
import SocialPill from '@/components/SocialPill.astro';
import WhatsAppIcon from './icons/WhatsAppIcon.astro';
---

<SectionContainer class="pb-20 xl:pb-4">
  <img
    src="https://avatars.githubusercontent.com/u/125621759?v=4"
    alt="photo luis almenarez"
    class="size-32 mb-4 rounded-xl"
  />

  <h1
    class="gap-2 text-pretty sm:text-4xl flex flex-col items-start pb-4 text-xl font-bold text-secondary-200"
  >
    Luis Almenarez
    <a
      href="https://linkedin.com/in/luisalmenarez"
      target="_blank"
      rel="noreferrer"
      class="flex items-center justify-center"
    >
      <Badge>Frontend Developer</Badge>
    </a>
  </h1>
  <h2 class="opacity-80 text-wrap text-xl">
    +3 a침os de experiencia en dise침o y desarrollo de aplicaciones web.
    Especializado en la integraci칩n de sistemas existentes, la optimizaci칩n de
    flujos de trabajo, y la entrega de soluciones a medida. De Medell칤n Colombia
    游뻟릖
  </h2>
  <nav class="flex flex-wrap gap-1 mt-4">
    <SocialPill href="https://linkedin.com/in/luisalmenarez">
      <LinkedInIcon class="size-4 md:size-6" />
    </SocialPill>

    <SocialPill href="https://github.com/luisalmenarez">
      <GitHubIcon class="size-4 md:size-6" />
    </SocialPill>

    <SocialPill href="mailto:luisalmenarez0428@gmail.com">
      <MailIcon class="size-4 md:size-6" />
    </SocialPill>

    <SocialPill href="https://api.whatsapp.com/send?phone=573013897707">
      <WhatsAppIcon class="size-4 md:size-6" />
    </SocialPill>
  </nav>
</SectionContainer>
