<span
  class="inline-flex text-base italic items-center justify-center rounded-md border border-indigo-300 dark:border-indigo-500 bg-[length:200%_100%] px-4 text-indigo-600 dark:text-indigo-300 transition-colors focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2 group overflow-hidden badge-gradient"
  style="animation: background-shine 3s linear infinite;"
>
  <div class="relative overflow-hidden">
    <span
      class="inline-block whitespace-nowrap transition-transform duration-500 transform group-hover:-translate-y-full"
    >
      <slot />
    </span>
    <span
      class="absolute whitespace-nowrap transition-transform duration-500 transform translate-y-full group-hover:translate-y-0 left-0"
    >
      <slot name="hover-text">Software Engineer</slot>
    </span>
  </div>
</span>

<style>
  .badge-gradient {
    color: black;
    background-image: linear-gradient(
      110deg,
      #f0f0ff 45%,
      #21103f 55%,
      #f0f0ff
    );
  }

  :global(.dark) .badge-gradient {
    color: white;
    background-image: linear-gradient(
      110deg,
      #0a0a1a 45%,
      #4338ca 55%,
      #0a0a1a
    );
  }

  @keyframes background-shine {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .badge-gradient {
      animation: none;
    }
  }
</style>
