<span
  class="inline-flex text-base italic items-center justify-center rounded-md border border-primary-400 bg-[linear-gradient(110deg,#000103,45%,#3A0CA3,55%,#000103)] bg-[length:200%_100%] px-4 text-primary-400 transition-colors focus:outline-none focus:ring-2 focus:ring-primary-600 focus:ring-offset-2 focus:ring-offset-primary-500 group overflow-hidden"
  style="animation: background-shine 3s linear infinite;"
>
  <div class="relative overflow-hidden">
    <span
      class="inline-block whitespace-nowrap transition-transform duration-500 transform group-hover:-translate-y-full"
    >
      <slot />
    </span>
    <span
      class="absolute whitespace-nowrap transition-transform duration-500 transform translate-y-full group-hover:translate-y-0 left-0"
    >
      <slot name="hover-text">Software Engineer</slot>
    </span>
  </div>
</span>

<style>
  @keyframes background-shine {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
</style>
