---
import { useTranslations } from '@/i18n';
import type { Locale } from '@/i18n';

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<footer
  class="flex items-center justify-center bg-white/80 dark:bg-black/80 backdrop-blur-lg m-4 p-4 rounded-md shadow-sm w-full lg:w-[1120px] mx-auto mb-10"
>
  <span class="sm:text-center dark:text-gray-400 text-sm text-gray-500"
    >{t('footer.madeBy')} <a
      href="https://github.com/luisalmenarez"
      class="hover:underline"
      target="_blank">Luis Almenarez</a
    >
    2025 &copy;
  </span>
</footer>
