<header
  class="flex justify-center items-center py-5 w-full lg:w-[1120px] mx-auto"
>
  <nav class="gap-x-10 opacity-80 flex flex-row">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#projectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
