<a
  {...Astro.props}
  class="border-white/10 gap-x-2 bg-white/5 hover:scale-105 hover:bg-white/10 md:px-4 md:py-2 flex items-center justify-center px-3 py-2 transition-all duration-300 border rounded-full"
  target="_blank"
  rel="noreferrer"
  target="_blank"
  rel="noreferrer"
>
  <slot />
</a>
