<a
  {...Astro.props}
  class="hover:scale-105 hover:bg-indigo-500 flex items-center justify-center px-2 py-1.5 transition-colors duration-300 rounded-lg"
  target="_blank"
  rel="noreferrer"
>
  <slot />
</a>
